:root {
    --titleMusic-color: #ffffff;
    --tom-color: #ff1a00;
    --singer-color: #d9ff00;
    --structure-color: #ffff00;
    --grau-color: #20f535;

    --backGound-color: #f8f8f8;
    --titleNewCifra-color: #444141;
    --backGoundSeach-color: #fafafa;
    --searchParagraohy-color: #161616;

}